body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.cero {
  background: #daf7a6;
}

.cero.light {
  background: #edf5df;
}

.uno {
  background: #581845;
}

.uno.light {
  background: #a75d91;
}

.dos {
  background: #ff5733;
}

.dos.light {
  background: #fea18d;
}

.tres {
  background: #ffc300;
}

.tres.light {
  background: #fce18b;
}

.btn-start {
  cursor: pointer;
  border: none;
  border-bottom: 4px solid #c4c6c7;
  border-radius: 8px;
  width: 420px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 3rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 210px);
  transition: 0.5s;
  outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #2c3e50;
  border-bottom: 4px solid #1f3346;
}

.btn-start:active {
  transform: scale(0.95);
}

.hide {
  display: none;
}
